---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

function formatDate(date: Date) {
  const options: Intl.DateTimeFormatOptions = {
    month: "long",
    day: "numeric",
    year: "numeric",
  };
  return date.toLocaleDateString("en-US", options);
}
---

<div class="card image-full shadow-xl hover:shadow-2xl transition-shadow">
  <figure class="aspect-video">
    <Image src={post.data.image} alt={post.data.title} />
  </figure>
  <div
    class="card-body rounded-lg justify-end bg-linear-to-b from-primary/80 to-transparent"
  >
    <h3
      class="card-title text-base-100-content hover:text-primary-content transition-colors"
    >
      <a href={`/blog/${post.id}`}>{post.data.title}</a>
    </h3>
    <time class="text-sm text-base-100-content/80">
      {formatDate(post.data.publishDate)}
    </time>
    <p class="text-base-100-content/90 line-clamp-2">{post.data.description}</p>
  </div>
</div>
