---
import { getEntry, render } from "astro:content";
import { getIcon } from "../utils/iconMapper";

const contactEntry = await getEntry("contact", "index");
const contact = contactEntry.data;
const { Content } = await render(contactEntry);

const SectionIcon = getIcon(contact.icon as any);
const FooterIcon = getIcon(contact.footerIcon as any);
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    <SectionIcon class="inline-block size-20" />
    <p class="max-w-xl m-auto text-lg">
      <Content />
      <a
        href={contact.linkUrl}
        target="_blank"
        class="link link-hover text-primary"
      >
        {contact.linkText}
      </a>
      and I'll respond whenever I can.
    </p>
    <p class="flex items-center space-x-1 text-base-content/60">
      <span>Copyright © {new Date().getFullYear()} - {contact.footerText}</span>
      <a
        class="link link-hover inline-flex justify-center items-center"
        href={contact.footerLinkUrl}
        target="_blank"
      >
        <FooterIcon class="size-3 inline-block mr-1" />
        {contact.footerLinkText}
      </a>
    </p>
  </aside>
</footer>
